<!doctype html>
<html>
  <head>
    <title>Job Portal</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-left">
        <h2>🔗 JobPortal</h2>
      </div>

      <div class="nav-center">
        <input type="text" placeholder="Search jobs..." class="search-bar" />
      </div>

      <div class="nav-right">
        {% if user.is_authenticated %}
        <span>{{ user.username }}</span>
        <a href="/logout/">Logout</a>
        {% else %}
        <a href="/login/">Login</a>
        <a href="/register/">Register</a>
        {% endif %}
      </div>
      {% if user.is_authenticated and user.role == 'recruiter' %}
      <a href="/add-job/">+ Post Job</a>
      <a href="/my-jobs/">My Jobs</a>
      {% endif %}
    </nav>

    <div class="main">{% block content %}{% endblock %}</div>
  </body>
</html>
